@model Improview1.Models.Answer

@{
    ViewBag.Title = "Review Answer";
}

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script type="text/javascript">             // Disable right-clicking on video player, prevents errors
    jQuery(document).ready(function () {
        jQuery('video').bind('contextmenu', function () { return false; });
    });
</script>

<script type="text/javascript">
    // $(document).ready(function () {
    //     $('.answerContainer').bind('contextmenu', function () { return false; });
    // });
</script>

<script type="text/javascript">             // Reloads video player to prevent it becoming stuck seeking on 'Play from Start' click
    function replayVideo() {
        var myVideo = document.getElementById("preview");
        myVideo.load();
        myVideo.controls = false;
        myVideo.play();
    }
</script>

<div class="jumbotron" style="height: 500px">
    <h2 style="margin-top: -15px">Review Answer</h2>
    <h3 class="lead" style="margin-top: 10px; padding-left: 5px;">> View existing feedback and add your own below!</h3>

    <div class="answerContainer" style="width:100%; height:100%">
        <div style="padding: 5px; width: 50%; height:70%; float:left; margin:auto; border: 1px solid red">
            <div style="height: 375px; width: 500px;">
                <video id="preview" poster="~/posterimage.jpg" preload="auto" height="375" width="500"
                       style="border: 1px solid rgb(15, 158, 238)">
                    <source id="previewsource" src="@Url.Content(/*"~/uploads/" + */System.IO.Path.GetFileName(Model.FilePathServerRelative))" type="video/webm" /> <!--src="~/uploads/125811147.webm"-->
                </video>
            </div>
            <button style="margin:auto" onclick="replayVideo()">Play from Start</button>
        </div>
        <div style="padding: 5px; width: 50%; height:70%; float:right; margin:auto; border: 1px solid red">

            <h4 class="lead" style="margin-top: 10px; padding-left: 5px;">> Existing feedback:</h4>
            <div style="margin:auto; float:left; width:30%; height:50%">
                <p style="font-size:1.5em; text-align:center">@Html.DisplayFor(model => model.Rating)/5</p>
            </div>
            <div style="margin:auto; float:right; width:70%; height:50%">
                <table class="table" style="padding: 5px; border: 1px solid red; font-size:0.5em">
                    <thead>
                        <tr>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Reviews)
                        {
                            <tr>
                                <td>
                                    <p style="font-size:1em">@Html.DisplayFor(modelItem => item.Comment)</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @Html.ActionLink("Submit Review", "Submit", "Review", new { aId = ViewBag.aId }, new { @class = "btn btn-primary" })

        </div>
    </div>
</div>