@model Improview.Models.Interview

@{
    @*ViewBag.Title = "Complete!";*@
}

<div class="jumbotron" style="height: 500px; min-height: 100%; max-height: 100%; text-align: center">
    
    <h3>Congratulations! You made it through your interview for</h3>
    <br />
    <h2>@Model.Title</h2>
    <br />
    <h4>@Model.Description</h4>
    <br />
    <h4>Your responses have been submitted and are available for review by other users, take a look:</h4>
    <br />
    @Html.ActionLink("Your Answers", "MyAnswers", "Review", null, new { @class = "btn btn-primary btn-lg" })
    @*@Html.ActionLink("Yes", "Submit", "Review", new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("No", "Index", "Home", new { @class = "btn btn-primary btn-lg" })*@

</div>